selenium
SQLAlchemy
Werkzeug
WTForms
Flask
vk
vk-api
Pillow
flask-mobility
flask-login
flask-wtf
flask-ngrok
flask-migrate
flask-socketio
flask-babel
flask-babel-js
flask-cors
sqlalchemy-serializer
requests
pymorphy2