selenium~=3.141.0
SQLAlchemy~=1.4.23
Werkzeug~=2.0.1
WTForms~=2.3.3
Flask~=2.0.1
vk~=2.0.2
vk-api
Pillow~=8.3.2
email-validator
flask-admin
flask-security
flask-mobility
flask-login
flask-wtf
flask-ngrok
flask-migrate
flask-socketio
flask-babel
flask-cors
sqlalchemy-serializer
requests
pymorphy2~=0.9.1
eventlet
