{% extends "mobile/base.html" %}

{% block content %}
    <h3 style="text-align: center">{{ title }}</h3>
    <hr>
    <h6>Добавить/Удалить/Изменить компанию</h6>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.action.label }}<br>
            {{ form.action(class='form-control') }}<br>
        </p>
        {% if form.action.data == 'Добавить компанию' or not form.action.data %}
            <p>
                {{ form.new_section.label }}<br>
                {{ form.new_section(class='form-control') }}<br>
                {% for error in form.new_section.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.title.label }}<br>
                {{ form.title(class='form-control') }}<br>
                {% for error in form.title.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.authors.label }}<br>
                {{ form.authors(class='form-control') }}<br>
                {% for error in form.authors.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
        {% elif form.action.data == 'Изменить компанию' %}
            <p>
                {{ form.section.label }}<br>
                {{ form.section(class='form-control') }}
            </p>
            {% if form.section.data %}
                <p>
                    {{ form.company.label }}<br>
                    {{ form.company(class='form-control') }}<br>
                    {% for error in form.company.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
            {% endif %}
            {% if form.company.data %}
                <p>
                    {{ form.title.label }}<br>
                    {{ form.title(class='form-control') }}<br>
                    {% for error in form.title.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.new_section.label }}<br>
                    {{ form.new_section(class='form-control') }}<br>
                    {% for error in form.new_section.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.authors.label }}<br>
                    {{ form.authors(class='form-control') }}<br>
                    {% for error in form.authors.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
            {% endif %}
        {% elif form.action.data == 'Удалить компанию' %}
            <p>
                {{ form.section.label }}<br>
                {{ form.section(class='form-control') }}
                {% for error in form.section.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.company.label }}<br>
                {{ form.company(class='form-control') }}<br>
                {% for error in form.company.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
        {% elif form.action.data == 'Удалить все компании' %}
            <p style="display: flex">
                {{ form.accept_delete_all_companies.label }}
                {{ form.accept_delete_all_companies(class='form-control', style='width: 10%') }}<br>
                {% for error in form.accept_delete_all_companies.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
        {% endif %}
        {{ form.submit(type="submit", class="btn btn-info") }}
    </form>
    <!-- Всплывающее сообщение -->
    {% if message %}
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Сообщение от сайта</h5>
                        <button type="button" class="close" id="modal-close-btn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer" id="modal-ok-btn">
                        <button type="button" class="btn btn-info">ОК</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Скрипт для обновления страницы -->
    <script>
        action = document.getElementById('action')
        action.addEventListener("change", function () {
                ids = ['section', 'company', 'title', 'authors']
                for (i = 0; i < ids.length; i++) {
                    element = document.getElementById(ids[i])
                    if (element)
                        element.value = null
                }
                document.getElementById('submit').click();
            })
        section = document.getElementById('section')
        if (section) {
            section.addEventListener("change", function () {
                document.getElementById('company').value = null
                document.getElementById('submit').click();
            })
        }
        company_form = document.getElementById('company')
        if (company_form && action.value !== 'Удалить компанию')
            company_form.addEventListener("change", function () {
                    document.getElementById('title').value = null
                    document.getElementById('new_section').value = null
                    document.getElementById('submit').click();
                })
    </script>
{% endblock %}
