{% extends "mobile/base.html" %}

{% block content %}
    <!--suppress ALL -->
    <table style="width: 100%; border: 0">
        <tr style="font-size: 1.5em; border: 0">
            <td style="text-align: left; border: 0"><h1>{{ title }}</h1></td>
            <td style="text-align: right; border: 0"><a href="/my-news">Мои новости</a></td>
        </tr>
    </table>
    {% if news %}
        {% for id, title, message, user, company, date, author in news %}
            <div style="border: 1px solid black; border-radius: 5px; margin-bottom: 5px; padding: 5px 5px 0 5px">
                <h4>{{ title }}</h4>
                <p style="word-break: break-all">{{ message }}</p>
                <table style="width: 100%; border: 0">
                    <tr style="font-size: 1em; border: 0">
                        {% if author == 'от себя' %}
                            <td style="text-align: left; border: 0"><p style="margin-bottom: 0"><small>{{ user }}</small></p></td>
                        {% else %}
                            <td style="text-align: left; border: 0"><p style="margin-bottom: 0"><small>{{ user }} | {{ company }}</small></p></td>
                        {% endif %}
                        <td style="text-align: right; border: 0"><p style="margin-bottom: 0"><small>Номер новости: {{ id }} | {{ date }}</small></p></td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <table class="dairy-table table-hover table-info">
            <tr style="background-color: #86CFDA">
                <td style="text-align: center;padding: 5px">Новостей нет</td>
            </tr>
        </table>
    {% endif %}
{% endblock %}
