<!--suppress ALL -->
{% extends "market/mobile/base.html" %}

{% block content %}

    <table style="width: 100%; border: 0">
        <tr style="border: 0">
            <td style="text-align: left; border: 0; width: 1%; padding-right: 30px;"><h3>{{ title }}</h3></td>
            <td style="text-align: right; border: 0">
                <a class="btn btn-info" onclick="createVoting()" style="padding: .1em .5em; margin-top: 5px">Начать голосование</a>
            </td>
        </tr>
    </table>
    <hr class="header-hr" style="margin: 5px 0">

    <div class="text-center votings-table">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>

    <script>stocks.get()</script>
    <script src="{{ url('static', filename='js/market/mobile/companies-management.js') }}"></script>

{% endblock %}