<!--suppress ALL -->
{% extends "market/mobile/base.html" %}

{% block content %}

    <script>
        const imageUploadEndpoint = "{{ url('api.uploadImage') }}"
    </script>

    <h3 style="text-align: center">{{ title }}</h3>
    <h6 style="text-align: center">Взнос: {{ new_company_fee }}<span class="material-icons-round md-money">paid</span></h6>
    <p style="font-size: .9em; text-align: center">Автоматически будет опубликована новость об открытии компании.</p>
    <hr>
    <div class="form-floating">
        <select id="sector" class="form-select" type="text"></select>
        <label for="sector">Отрасль</label>
    </div>
    <br>
    <div class="form-floating">
        <input id="title" class="form-control" type="text" placeholder="Название компании">
        <label for="title">Название компании</label>
    </div>
    <br>
    <div class="form-floating">
        <textarea id="description" class="form-control" type="text"
                  placeholder="Описание"></textarea>
        <label for="description">Описание</label>
    </div>
    <br>
    <div class="mb-3">
        <label for="image-input">Логотип</label>
        <input type="file" id="logo" name="illustration" class="form-control" placeholder="Логотип" accept="image/*" onclick="valid(this)" autocomplete="off">
        <div class="invalid-feedback" id="logo-feedback"></div>
    </div>
    <div class="progress" id="progressBarBack" style="display: none">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
    <br>
    <button class="btn btn-info" type="submit" onclick="createCompany(this)">Готово</button>
    <script src="{{ url('static', filename='js/market/create-company.js') }}"></script>
{% endblock %}
