<!--suppress ALL -->
{% extends "market/mobile/base.html" %}

{% block content %}

    <script>
        const imageUploadEndpoint = "{{ url('api.uploadImage') }}"
    </script>

    <table style="width: 100%; border: 0; margin: 5px 0">
        <tr style="border: 0">
            <td style="text-align: left; border: 0">
                <h1>{{ title }}</h1>
            </td>
            <td style="text-align: right; border: 0">
                <button id="create-news" class="btn btn-info" onclick="createNews()">Создать пост</button>
            </td>
        </tr>
    </table>

    <div class="text-center news">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>

    <script src="{{ url('static', filename='js/market/mobile/news.js') }}"></script>
{% endblock %}
