{% extends "area/base.html" %}

{% block content %}
<style>
    .privacy-ol {
        list-style: none;
        counter-reset: li;
    {% if request.MOBILE %}
        padding-left: 10px;
    {% endif %}
    }

    .privacy-li:before {
        counter-increment: li;
        content: counters(li, ".") ". ";
    }

    {% if request.MOBILE %}
        main {
            padding: 0 !important;
        }
    {% endif %}

    body {
        background-image: url({{ url('static', filename='images/index-background.jpg') }});
        background-attachment: fixed;
    }
</style>
{% if not request.MOBILE %}
    <h1 style="margin: 70px; color: white; text-align: center;">Политика конфиденциальности</h1>
    <div style="background-color: white; padding: 20px 40px;">
{% else %}
    <h2 style="margin: 10px; color: white; text-align: center;">Политика конфиденциальности</h2>
    <div style="background-color: white; padding: 5px 10px; margin: 0 15px 0 15px; font-size: .7em;">
{% endif %}
<h6>Политика в отношении обработки персональных данных</h6>
<ol class="privacy-ol">
    {% set privacy %}
    {% include "area/privacy_policy/policy-ru.txt" %}
    {% endset %}
    {% for paragraph in privacy.split("\n\n") %}
        <li class="privacy-li">
            {% if loop.first %}
                {{ paragraph.split("\n")[1] }}
            {% else %}
                {{ paragraph.split("\n")[0] }}
            {% endif %}
            <ol class="privacy-ol">
                {% for line in paragraph.split("\n") %}
                    {% if line.startswith("    > ") %}
                        <li class="privacy-li">
                            {{ line.split("> ")[1] }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </li>
    {% endfor %}
</ol>
</div>
{% endblock %}