header {
    height: 60px;
}

#logo-header {
    height: 40px;
}

#username {
    right: 10px;
    top: 10px;
    position: fixed;
    background-color: white;
}

.dropdown-menu {
    width: min-content;
    left: auto;
    right: 5px;
}

#sign-up-btn {
    right: 10px;
    top: 10px;
    position: fixed;
}

#sign-in-btn {
    right: 200px;
    top: 10px;
    position: fixed;
}

.vl {
    border-left: 1px solid;
    width: 20px;
}


#customBtn {
    display: inline-block;
    color: #fff;
    background-color: #ffffff;
    border-color: #17a2b8;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    right: 120px;
    top: 10px;
    position: fixed;
}

#customBtn:hover {
    background: #117A8B;
    cursor: pointer;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

#google-icon {
    background: url(static/images/Google.png) transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: .375rem;
    width: 30px;
    height: 30px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding: .375rem .75rem .375rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

.dropdown-menu {
    text-align: center;
}