header {
    display: flex;
}


main {
    margin-top: 70px;
    height: calc(100vh - 170px);
}

#logo-header {
    height: 40px;
}

#username {
    right: 10px;
    top: 10px;
    position: fixed;
}

#sign-up-btn {
    right: 10px;
    top: 10px;
    position: fixed;
}

#sign-in-btn {
    right: 200px;
    top: 10px;
    position: fixed;
}

.vl {
    border-left: 1px solid;
    width: 20px;
}

.table_title {
    text-align: center;
    alignment: center;
    background-color: #DDDDDD;
}

.table_row {
    text-align: center;
    alignment: center;
    background-color: #EEEEFF;
}

td, th {
    border: 1px solid;
}

.dairy-table {
    width: 80%;
}

.error-img {
    max-width: 100%;
    height: auto;
}

#error-message {
    text-align: center;
}

.parallax {
    position: fixed;
    width: 100%;
    height: 100%;
}

#office-background {
    background: url(../images/Office.jpg) repeat-x;
    z-index: 1;
    left: 0;
    background-size: auto 100%;
}

#logo-background {
    background: url(../images/Wolf.png) no-repeat;
    top: 50%;
    left: 50%;
    z-index: 2;
    filter: blur(30);
}

#error-block {
    z-index: 3;
    top: 25%;
    left: 0;
}

#error-code {
    font-size: 30px;
    letter-spacing: -1px;
    color: #162730;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #000;
    margin: 10px 0 24px;
    text-align: center;
    line-height: 50px;
}

#error-title {
    color: #162730;
    font-family: ‘Righteous’, cursive;
    font-size: 50px; font-weight: normal;
    line-height: 60px;
    margin: 10px 0 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000;
    text-align: center;
}

#error-message {
    color: #162730;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    display: inline;
    padding: 3px;
    background-color: #86cfda;
}

form {
    width: 30%;
}

#brand-name {
    font-size: large;
    margin-top: 5%;
    margin-right: 1%;
}

.nav-link {
    display: inline;
}

#header-hr {
    margin: 0;
}
