.table_title {
    text-align: center;
    alignment: center;
    background-color: #DDDDDD;
}

.table_row {
    text-align: center;
    alignment: center;
    background-color: #EEEEFF;
}

td, th {
    border: 1px solid;
}

.dairy-table {
    width: 80%;
}

.error-img {
    max-width: 100%;
    height: auto;
}

#error-title {
    text-align: center;
}

#error-code {
    text-align: center;
}

#error-message {
    text-align: center;
}