<!--suppress ALL -->
{% extends "market/base.html" %}

{% block content %}

    <table style="width: 100%; border: 0">
        <tr style="font-size: 1.5em; border: 0">
            <td style="text-align: left; border: 0; width: 1%; padding-right: 30px; white-space: nowrap"><h1>{{ title }}</h1></td>
            <td style="text-align: right; border: 0">
                <a class="btn btn-info" onclick="createVoting()"
                >Начать голосование</a></td></tr>
    </table>
    <hr>
    <script>stocks.get()</script>
    <script src="/static/js/market/companies-management.js"></script>

{% endblock %}