<!--suppress ALL -->
{% extends "market/base.html" %}

{% block content %}
    <h1 style="text-align: center">{{ title }}</h1>
    <br>
    <h4>{{ form.session.label }}</h4>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.session(class="form-control") }}<br>
            {% for error in form.session.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-info") }}</p>
    </form>

    <h4>Создать фондовую биржу</h4>
    <form action="" method="post">
        {{ form_new.hidden_tag() }}
        <p>
            {{ form_new.title.label }}<br>
            {{ form_new.title(class="form-control") }}<br>
            {% for error in form_new.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form_new.submit(type="submit", class="btn btn-info") }}</p>
    </form>
    {% if 'Admin' in game_role %}
        <h4>Удалить текущую игру</h4>
        <form action="" method="post">
            {{ form_delete.hidden_tag() }}
            <p style="display: -webkit-inline-box;">
                {{ form_delete.accept.label }}
                {{ form_delete.accept(class="form-control") }}<br>
                {% for error in form_delete.accept.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form_delete.submit(type="submit", class="btn btn-info") }}</p>
        </form>
    {% endif %}

    {% if message %}
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Сообщение от сайта</h5>
                <button type="button" class="close" id="modal-close-btn" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ message }}
              </div>
              <div class="modal-footer" id="modal-ok-btn">
                <button type="button" class="btn btn-info">ОК</button>
              </div>
            </div>
          </div>
        </div>
    {% endif %}
{% endblock %}