{% extends "area/base.html" %}

{% block head %}

    {{ super() }}

    <script src="{{ url('static', filename='js/api/sessions.js') }}"></script>
    <script src="{{ url('static', filename='js/api/companies.js') }}"></script>
    <script src="{{ url('static', filename='js/api/news.js') }}"></script>
    <script src="{{ url('static', filename='js/api/offers.js') }}"></script>
    <script src="{{ url('static', filename='js/api/stocks.js') }}"></script>
    <script src="{{ url('static', filename='js/api/svotes.js') }}"></script>
    <script src="{{ url('static', filename='js/api/votes.js') }}"></script>
    <script src="{{ url('static', filename='js/api/wallets.js') }}"></script>
{% endblock %}

{% block header %}
    {% if not request.MOBILE %}
        {% include "market/header.html" %}
    {% else %}
        {% include "market/header_mobile.html" %}
    {% endif %}
{% endblock header %}