<!--suppress ALL -->
{% extends "market/base.html" %}

{% set width %}
{% if not request.MOBILE %}
    75%
{% else %}
    auto
{% endif %}
{% endset %}

{% block content %}
    <style>
        body {
            background-image: url({{ url('static', filename='images/index-background.jpg') }});
            background-attachment: fixed;
        }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
          rel="stylesheet">
    <div style="text-align: center;color: white;margin-top: 20px;text-shadow: 1px 1px 1px #000;">
        <div style="font-size: {{ "100px" if not request.MOBILE else "70px" }};">AREA</div>
        <div style="font-size: {{ "50px" if not request.MOBILE else "30px" }}">of young brokers
        </div>
    </div>
    <div style="{{ "font-size: .7em;" if request.MOBILE }}padding: 5px;color:white; font-family: Montserrat, monospace; font-weight: 500; vertical-align: baseline;width: {{ width }};background-color: rgba(0,0,0,.3);border: 3px solid white;display: block;border-radius: 10px; margin: 30px auto auto;text-align: justify;">
        <p style="margin: 5px;">Этот сервис позволяет вам познакомиться с основами фондового рынка.
            В частности, с торговлей акциями.</p>
        <p style="margin: 5px;">Здесь вы можете создавать компании или ОАО и управлять ими,
            выпускать новые акции
            и продавать их на торговой площадке, увеличивая баланс на своём счёте.
            Создавайте новости, увеличивая доверие других игроков на бирже к своей
            компании и повышая её прибыль или занижая доверие к другим компаниям.
            Помните: чем больше доверия, тем больше прибыль компании, тем больше стоят её акции
            на торговой площадке.
        </p>
        <p style="margin: 5px;">Прежде чем начать - прочитайте правила. Мы старались сделать их
            максимально интересными.</p>
    </div>
    <div style="{{ "font-size: .7em;" if request.MOBILE }}padding: 5px 10px 5px 5px;color:white; font-family: Montserrat, monospace; font-weight: 500; vertical-align: baseline;width: {{ width }};background-color: rgba(0,0,0,0.65);border: 3px solid white;display: block;border-radius: 10px; margin: 30px auto auto;text-align: justify;">
        <p style="margin: 5px;text-align: center">Правила торговли на фондовой бирже</p>

        <p style="margin: 5px{{ ";text-indent: 10px" if not request.MOBILE }}">Термины и
            сокращения:</p>
        <p style="margin: 5px;padding-left: {{ "50px" if not request.MOBILE else "w0px" }}">
            <span data-toggle="tooltip" data-placement="top"
                  title="Внутриигровая фондовая биржа"><span class="material-icons md-white">trending_up</span></span>
            - Внутриигровая фондовая биржа<br>
            <span data-toggle="tooltip" data-placement="top"
                  title="Администратор фондовой биржи"><span class="material-icons md-blue">self_improvement</span></span>
            - Администратор фондовой биржи<br>
            <span data-toggle="tooltip" data-placement="top" title="Игрок фондовой биржи"><span
                    class="material-icons md-player">hiking</span></span> - Игрок фондовой биржи<br>
            <span data-toggle="tooltip" data-placement="top" title="Торговая площадка"><span
                    class="material-icons md-cart">shopping_cart</span></span> - Торговая
            площадка<br>
            <span data-toggle="tooltip" data-placement="top" title="Внутриигровая валюта"><span
                    class="material-icons-round md-money">paid</span></span> - Внутриигровая
            валюта<br>
            Компания - внутриигровая организация<br>
            Акция - внутриигровая акция компании<br>
            Константа - величина, устанавливаемая <span data-toggle="tooltip" data-placement="top"
                                                        title="Администратор фондовой биржи"><span
                class="material-icons md-blue">self_improvement</span></span> на отдельной <span
                data-toggle="tooltip" data-placement="top"
                title="Внутриигровая фондовая биржа"><span class="material-icons md-white">trending_up</span></span><br>
            Месяц - Интервал реального времени, является Константой
        </p>

        <p style="margin: 5px{{ ";text-indent: 10px" if not request.MOBILE }}">Порядок игры:</p>
        <div style="padding-left: {{ "50px" if not request.MOBILE else "20px" }}">
            <p style="margin: 5px">1. Выберите или создайте <span data-toggle="tooltip"
                                                                  data-placement="top"
                                                                  title="Внутриигровая фондовая биржа"><span
                    class="material-icons md-white">trending_up</span></span> в разделе "Фондовые
                биржи". В случае создания <span data-toggle="tooltip" data-placement="top"
                                                title="Внутриигровая фондовая биржа"><span
                        class="material-icons md-white">trending_up</span></span>, Вы станете её
                <span data-toggle="tooltip" data-placement="top"
                      title="Администратор фондовой биржи"><span class="material-icons md-blue">self_improvement</span></span>.
            </p>
            <p style="margin: 5px">2. При Вашем первом посещении <span data-toggle="tooltip"
                                                                       data-placement="top"
                                                                       title="Торговая площадка"><span
                    class="material-icons md-cart">shopping_cart</span></span> создаётся кошелёк со
                стартовой суммой, которая является Константой.</p>
            <p style="margin: 5px">3. В целях получения прибыли Вы можете открыть компанию в разделе
                "Компании". Чтобы открыть компанию Вам необходимо будет заплатить взнос, который
                является Константой. После открытия компании у Вас появится определенное количество
                акций, которое является Константой.</p>
            <p style="margin: 5px">4. Вы можете выставить свои акции на продажу на <span
                    data-toggle="tooltip" data-placement="top" title="Торговая площадка"><span
                    class="material-icons md-cart">shopping_cart</span></span>. При продаже акций Вы
                указываете цену за 1 акцию, количество акций и выбираете компанию, акции которой
                хотите продать.</p>
            <p style="margin: 5px">5. На <span data-toggle="tooltip" data-placement="top"
                                               title="Торговая площадка"><span
                    class="material-icons md-cart">shopping_cart</span></span> Вы можете покупать
                акции компаний других <span data-toggle="tooltip" data-placement="top"
                                            title="Игрок фондовой биржи"><span
                        class="material-icons md-player">hiking</span></span>. При покупке акций Вы
                выбираете компанию, акции которой хотите купить, и количество акций. При покупке Вам
                автоматически предложат купить самые дешевые акции выбранной компании. Откроется
                окно с подтверждением покупки и чеком.</p>
            <p style="margin: 5px">6. При покупке акций на торговой площадке всем акционерам
                компании (кроме Покупателя и Продавца), акции которой участвуют в сделке
                выплачивается комиссия в зависимости от количества акций в их собственности.
                Комиссия за 1 акцию является Константой.</p>
            <p style="margin: 5px">7. Помимо покупки и продажи акций на <span data-toggle="tooltip"
                                                                              data-placement="top"
                                                                              title="Торговая площадка"><span
                    class="material-icons md-cart">shopping_cart</span></span> можно снять акции с
                продажи или инвестировать в отдельного <span data-toggle="tooltip"
                                                             data-placement="top"
                                                             title="Игрок фондовой биржи"><span
                        class="material-icons md-player">hiking</span></span> (перевести на его
                кошелёк указанную сумму <span data-toggle="tooltip" data-placement="top"
                                              title="Внутриигровая валюта"><span
                        class="material-icons-round md-money">paid</span></span>).</p>
            <p style="margin: 5px">8. Существуют налоги. Налоговая ставка является Константой и
                задаётся в % от баланса <span data-toggle="tooltip" data-placement="top"
                                              title="Игрок фондовой биржи"><span
                        class="material-icons md-player">hiking</span></span>. Налоги взимаются раз
                в квартал (3 Месяца). </p>
            <p style="margin: 5px">9. Компании приносят прибыль раз в Месяц. Прибыль рассчитывается
                как 1/3 от всех собранных налогов в отрасли компании за предыдущий квартал * % очков
                доверия к компании в её отрасли.</p>
            <p style="margin: 5px">10. Доверие к компаниям задаётся <span data-toggle="tooltip"
                                                                          data-placement="top"
                                                                          title="Игрок фондовой биржи"><span
                    class="material-icons md-player">hiking</span></span>. Каждый <span
                    data-toggle="tooltip" data-placement="top" title="Игрок фондовой биржи"><span
                    class="material-icons md-player">hiking</span></span> распределяет 100 очков
                доверия между компаниями любых отраслей. Добавить очки доверия к компаниям, в
                которой <span data-toggle="tooltip" data-placement="top"
                              title="Игрок фондовой биржи"><span class="material-icons md-player">hiking</span></span>
                является акционером - нельзя.</p>
            <p style="margin: 5px">11. В том случае, если <span data-toggle="tooltip"
                                                                data-placement="top"
                                                                title="Игрок фондовой биржи"><span
                    class="material-icons md-player">hiking</span></span> не распределил часть очков
                доверия, то они распределяются поровну между компаниями, в которых <span
                        data-toggle="tooltip" data-placement="top"
                        title="Игрок фондовой биржи"><span
                        class="material-icons md-player">hiking</span></span> не является
                акционером. Таблица распределения очков сохраняется из Месяца в Месяц. <span
                        data-toggle="tooltip" data-placement="top"
                        title="Игрок фондовой биржи"><span
                        class="material-icons md-player">hiking</span></span> может менять её в
                любой момент.</p>
            <p style="margin: 5px">12. В разделе "Новости" <span data-toggle="tooltip"
                                                                 data-placement="top"
                                                                 title="Игрок фондовой биржи"><span
                    class="material-icons md-player">hiking</span></span> могут читать новостную
                ленту. В разделе "Мои новости" Вы можете создавать новости как от своего лица, так и
                от лица компаний, акционером которых Вы являетесь. При создании компании в ленте
                появляется автоматически созданный пост о новой компании.</p>
            <p style="margin: 5px">13. Акции, компании, кошельки, роли <span data-toggle="tooltip"
                                                                             data-placement="top"
                                                                             title="Игрок фондовой биржи"><span
                    class="material-icons md-player">hiking</span></span> и Константы разных <span
                    data-toggle="tooltip" data-placement="top" title="Внутриигровая фондовая биржа"><span
                    class="material-icons md-white">trending_up</span></span> никак не связаны.</p>
            <p style="margin: 5px">14. Удачной игры. Ни кризиса, ни инфляции!</p>
        </div>

        <p style="margin: 5px{{ ";text-indent: 10px" if not request.MOBILE }}; margin-top: 30px">
            Администрирование:</p>
        <div style="padding-left: {{ "50px" if not request.MOBILE else "20px" }}">
            <p style="margin: 5px">1. В обязанности <span data-toggle="tooltip" data-placement="top"
                                                          title="Администратор фондовой биржи"><span
                    class="material-icons md-blue">self_improvement</span></span> входит:
                первоначальная настройка <span data-toggle="tooltip" data-placement="top"
                                               title="Внутриигровая фондовая биржа"><span
                        class="material-icons md-white">trending_up</span></span>, назначение ролей
                пользователям, модерирование новостей, остановка игры (например, для подведения
                результатов).</p>
            <p style="margin: 5px">2. Первоначальная настройка <span data-toggle="tooltip"
                                                                     data-placement="top"
                                                                     title="Внутриигровая фондовая биржа"><span
                    class="material-icons md-white">trending_up</span></span>. В разделе "Панель
                управления" -> "Управление фондовой биржей" <span data-toggle="tooltip"
                                                                  data-placement="top"
                                                                  title="Администратор фондовой биржи"><span
                        class="material-icons md-blue">self_improvement</span></span> может
                настроить Константы, а также приостановить игру.</p>
            <p style="margin: 5px">3. Назначение ролей пользователям. В разделе "Панель управления"
                -> "Управление пользователями" <span data-toggle="tooltip" data-placement="top"
                                                     title="Администратор фондовой биржи"><span
                        class="material-icons md-blue">self_improvement</span></span> может
                назначить роли пользователям. Внимание: При удалении пользователя нельзя вернуть ему
                его акции, а при удалении ролей акции пользователя остаются на <span
                        data-toggle="tooltip" data-placement="top"
                        title="Внутриигровая фондовая биржа"><span class="material-icons md-white">trending_up</span></span>
                (пользователь лишь теряет доступ к <span data-toggle="tooltip" data-placement="top"
                                                         title="Внутриигровая фондовая биржа"><span
                        class="material-icons md-white">trending_up</span></span> до назначения ему
                роли "Игрок")</p>
            <p style="margin: 5px">4. Модерирование новостей. В разделе "Новости" -> "Мои новости"
                <span data-toggle="tooltip" data-placement="top"
                      title="Администратор фондовой биржи"><span class="material-icons md-blue">self_improvement</span></span>
                может удалять и изменять новости других <span data-toggle="tooltip"
                                                              data-placement="top"
                                                              title="Игрок фондовой биржи"><span
                        class="material-icons md-player">hiking</span></span>, указав номер нужной
                новости.</p>
            <p style="margin: 5px">5. Честно выполняйте обязанности администратора, поддерживайте
                активность на своей <span data-toggle="tooltip" data-placement="top"
                                          title="Внутриигровая фондовая биржа"><span
                        class="material-icons md-white">trending_up</span></span> с помощью постов и
                ваша <span data-toggle="tooltip" data-placement="top"
                           title="Внутриигровая фондовая биржа"><span
                        class="material-icons md-white">trending_up</span></span> будет популярной.
                И не забудьте создать новость с указанием правил и текущих Констант на Вашей <span
                        data-toggle="tooltip" data-placement="top"
                        title="Внутриигровая фондовая биржа"><span class="material-icons md-white">trending_up</span></span>!
            </p>
        </div>

    </div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}