{% extends "market/base.html" %}

{% block content %}
    <table class="layout-table" style="width: 100%">
        <tr style="{{ "font-size: 1.5em; " if not request.MOBILE }}">
            <td style="text-align: left; width: 1%; white-space: nowrap; padding-right: 30px">
                {% if not request.MOBILE %}
                    <h1>{{ title }}</h1>
                {% else %}
                    <h2>{{ title }}</h2>
                {% endif %}
            </td>
            <td style="text-align: left">
                <a onclick="openInvestForm()" class="btn btn-info">
                    {{ 'Инвестировать' }}
                </a>
            </td>
            <td style="text-align: right; width: 33%">
                {% if not request.MOBILE %}
                    <h2 id="balance"></h2>
                {% else %}
                    <h4 id="balance"></h4>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <div id="user-stocks"></div>
    <div id="user-sell-stocks"></div>
    <div id="marketplace-stocks">
        <div class="text-center">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>
        </div>
    </div>

    <script src="{{ url('static', filename='js/market/marketplace.js') }}"></script>
{% endblock %}