{% extends "market/base.html" %}

{% block content %}

    <script>
        const imageUploadEndpoint = "{{ url('market.api.uploadImage') }}"
    </script>
    <div style="position: sticky; top: 0; background-color: white">
        <table class="layout-table" style="width: 100%">
            <tr style="font-size: 1.5em">
                <td style="text-align: left">
                    <h1>{{ title }}</h1>
                </td>
                <td style="text-align: -webkit-center">
                    <button id="news-update-btn" class="btn btn-info" onclick="showNewPosts()">
                        Свежие записи <span class="material-icons" style="vertical-align: bottom">update</span>
                    </button>
                </td>
                <td style="text-align: right">
                    <button id="create-news" class="btn btn-info" onclick="createNews()">
                        {{ _('Создать пост') }}
                    </button>
                </td>
            </tr>
        </table>
        <hr style="margin: 5px 0">
    </div>


    <div class="text-center news">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">{{ _('Загрузка') }}...</span>
        </div>
    </div>

    <script src="{{ url('static', filename='js/market/news.js') }}"></script>
{% endblock %}
