{% extends "market/base.html" %}

{% block content %}
    <h1 style="text-align: center">{{ title }}</h1>
    <hr>
    {% if not request.MOBILE %}
        <br>
    {% endif %}
    <div class="form-floating">
        <select class="form-select" id="session-select"></select>
        <label for="session-select">{{ _('Текущая фондовая биржа') }}</label>
    </div>
    {% if not request.MOBILE %}
        <br>
    {% endif %}
    <hr>
    {% if not request.MOBILE %}
        <br>
    {% endif %}
    <div class="form-floating">
        <input class="form-control" id="new-session-input"
               placeholder="{{ _('Имя новой фондовой биржи') }}"
               autocomplete="off">
        <label for="new-session-input">{{ _('Имя новой фондовой биржи') }}</label>
    </div>
    <br>
    <button class="btn btn-info" id="submit"
            onclick="createSession()"{{ 'style="margin-bottom: 10px"' if not request.MOBILE }}>
        {{ _('Создать фондовую биржу') }}
    </button>
    <hr>
    {% if not request.MOBILE %}
        <br>
    {% endif %}
    <div id="delete-session" style="border: red 1px solid; border-radius: 10px; padding: 10px">
        <h4>{{ _('Удалить текущую фондовую биржу') }}</h4>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="delete-session-checkbox"
                   autocomplete="off">
            <label class="form-check-label" for="delete-session-checkbox">
                {{ _('Подтвердить') }}
            </label>
        </div>
        <br>
        <button class="btn btn-info btn-danger" id="delete-session-btn" onclick="deleteSession()">
            {{ _('Удалить текущую фондовую биржу') }}
        </button>
    </div>

    {% if not request.MOBILE and message %}
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="exampleModalLabel">{{ _('Сообщение от сайта') }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer" id="modal-ok-btn">
                        <button type="button" class="btn btn-info">ОК</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="{{ url('static', filename='js/market/sessions.js') }}"></script>
{% endblock %}