{% extends "market/base.html" %}

{% block content %}
    {% if not request.MOBILE %}
        <h1 style="text-align: center">{{ title }}</h1>
        <hr>
    {% else %}
        <h4 style="text-align: center">{{ title }}</h4>
        <hr style="margin-top: 0">
    {% endif %}
    <form action="" method="post"
          style="text-align: -webkit-center{{ ";font-size: .9em" if request.MOBILE }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.game_run.label }}<br>
            {{ form.game_run(class='form-check-input', style='width: 2em; height: 2em; text-align: center') }}<br>
            {% for error in form.game_run.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div>
            {{ form.start_wallet_money.label }}<br>
            {{ form.start_wallet_money(class='form-control', style='width: fit-content;text-align: center') }}<br>
            {% for error in form.start_wallet_money.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div>
            {{ form.fee.label }}<br>
            {{ form.fee(class='form-control', style='width: fit-content;text-align: center') }}<br>
            {% for error in form.fee.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div>
            {{ form.new_company_fee.label }}<br>
            {{ form.new_company_fee(class='form-control', style='width: fit-content;text-align: center') }}<br>
            {% for error in form.new_company_fee.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div>
            {{ form.start_stocks.label }}<br>
            {{ form.start_stocks(class='form-control', style='width: fit-content;text-align: center') }}<br>
            {% for error in form.start_stocks.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        {{ form.submit(type="submit", class="btn btn-info") }}
    </form>
    <!-- Всплывающее сообщение -->
    {% if message %}
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="exampleModalLabel">{{ _('Сообщение от сайта') }}</h5>
                        <button type="button" class="close" id="modal-close-btn"
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer" id="modal-ok-btn">
                        <button type="button" class="btn btn-info">ОК</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}