{% extends "market/base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css"
          href="{{ url('.static', filename='/css/sessions.css') }}">
    <h1 style="text-align: center">{{ title }}</h1>
    <hr>
    <div class="form-floating">
        <select class="form-select" id="session-select"></select>
        <label for="session-select">Текущая фондовая биржа</label>
    </div>
    <hr>
    <div class="form-floating">
        <input class="form-control" id="new-session-input" placeholder="Имя новой фондовой биржи"
               autocomplete="off">
        <label for="new-session-input">Имя новой фондовой биржи</label>
    </div>
    <button class="btn btn-info" id="submit"
            onclick="createSession()"{{ 'style="margin-bottom: 10px"' if not request.MOBILE }}>
        Создать фондовую биржу
    </button>
    <hr>
    <div id="delete-session" style="border: red 1px solid; border-radius: 10px; padding: 10px">
        <h4>Удалить текущую игру</h4>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="delete-session-checkbox"
                   autocomplete="off">
            <label class="form-check-label" for="delete-session-checkbox">
                Подтвердить
            </label>
        </div>
        <button class="btn btn-danger" id="delete-session-btn" onclick="deleteSession()">
            Удалить текущую фондовую биржу
        </button>
    </div>

    {% if not request.MOBILE and message %}
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Сообщение от сайта</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer" id="modal-ok-btn">
                        <button type="button" class="btn btn-info">ОК</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="{{ url('static', filename='js/market/sessions.js') }}"></script>
{% endblock %}