{% extends "edu/base.html" %}

{% set width %}
{% if not request.MOBILE %}
    50%
{% else %}
    auto
{% endif %}
{% endset %}

{% block content %}
    <style>
        body {
            background-image: url({{ url('static', filename='images/index-background.jpg') }});
            background-attachment: fixed;
        }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
          rel="stylesheet">
    <div style="text-align: center;color: white;margin-top: 20px;text-shadow: 1px 1px 1px #000;">
        <div style="font-size: {{ "100px" if not request.MOBILE else "70px" }};">AREA</div>
        <div style="font-size: {{ "50px" if not request.MOBILE else "30px" }}">of education</div>
    </div>
    <div style="background-color: rgba(0,0,0,.1);border: 3px solid white;width: {{ width }};display: block;border-radius: 10px; margin: 30px auto auto;">
        <p style="color:white; font-family: Montserrat, monospace; font-weight: 500; vertical-align: baseline; margin: 10px">
            {{ _('AREA – Ваш помощник в планировании. Теперь
            организация учебного процесса перестанет быть рутиной.
            Удобный интерфейс и приятный дизайн - что еще нужно
            для комфортной учебы?') }}
        </p>
    </div>
    <div style="background-color: rgba(0,0,0,.1);border: 3px solid white;width: {{ width }};display: block;border-radius: 10px; margin: 30px auto auto;">
        <p style="color:white; font-family: Montserrat, monospace; font-weight: 500; vertical-align: baseline; margin: 10px">
            {{ _('Мы создаем систему, которая обеспечит
            комфортный и продуктивный процесс обучения
            как ученикам, так и учителям.') }}
        </p>
    </div>
{% endblock %}