{% extends "edu/base.html" %}

{% block content %}

    <table style="width: 100%; border: 0">
        <tr style="{{ "font-size: 1.5em; " if not request.MOBILE }}border: 0">
            <td style="text-align: left; border: 0; padding-right: 30px">
                {% if not request.MOBILE %}
                    <h1>{{ title }}</h1>
                {% else %}
                    <h3>{{ title }}</h3>
                {% endif %}
            </td>
            <td style="text-align: right; border: 0">
                <a class="btn btn-info" id="add-teacher" onclick="createWorkload()">
                    Добавить
                </a>
            </td>
        </tr>
    </table>
    <hr>
    <span id="workload-table-span"></span>
    <div id="total-div" style="margin-top: 20px"></div>
    <script src="{{ url('.static', filename='js/workload.js') }}"></script>
{% endblock %}