{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    {% for day_id in range(6) %}
        <table class="dairy-table table-hover table-info">
        <caption style="caption-side: top">{{ days[day_id] }}</caption>
            {% for subject_id in range(subjects[day_id]|length) %}
                <tr id="row">
                    <td style="width: 15px; text-align: center">{{ loop.index }}</td>
                    <td style="width: 20%;text-align: center">{{ subjects[day_id][subject_id] }}</td>
                    {% if homework[day_id][subject_id] %}
                        <td>{{ homework[day_id][subject_id] }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <p></p>
    {% endfor %}
{% endblock %}