{% extends "base.html" %}

{% block content %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <div>
        <h1 style="text-align: center;font-size: 100px;color: white;margin-top: 50px">AREA</h1>
        <h2 style="text-align: center;color: white">Advanced Regional Educational Application</h2>
    </div>
    <div style="background-color: rgba(0,0,0,.1);border: 3px solid white;width: 650px;display: block;border-radius: 10px; margin: 30px auto auto;">
        <p style="color:white;font-family: Montserrat, monospace; font-weight: 500; vertical-align: baseline;font-size: 20px; margin: 10px;text-align: justify;">
            AREA – Ваш помощник в планировании. Теперь
            организация учебного процесса перестанет быть рутиной.
            Удобный интерфейс и приятный дизайн - что еще нужно
            для комфортной учебы?
        </p>
    </div>
    <div style="background-color: rgba(0,0,0,.1);border: 3px solid white;color:white;width: 500px;display: block;border-radius: 10px; margin: 30px auto auto;">
        <p style="font-family: Montserrat, monospace; font-weight: 500; vertical-align: baseline;font-size: 20px; margin: 10px;text-align: justify;">
            Мы создаем систему, которая обеспечит
            комфортный и продуктивный процесс обучения
            как ученикам, так и учителям.
        </p>
    </div>
{% endblock %}