<!--suppress ALL -->
{% extends "base.html" %}

{% block content %}
    <h3 style="text-align: center">{{ title }}</h3>
    <hr>
    <h4>Добавить/Удалить/Изменить пользователя</h4>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.action.label }}<br>
            {{ form.action(class='form-control') }}<br>
        </p>
        {% if form.action.data == 'Добавить пользователя' or not form.action.data %}

            <p>
                {{ form.game_role.label }}<br>
                {{ form.game_role(class='form-control') }}<br>
                {% for error in form.game_role.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
        {% elif form.action.data == 'Изменить пользователя' %}
            <p>
                {{ form.user.label }}<br>
                {{ form.user(class='form-control') }}
            </p>
            {% if form.user.data %}
                <p>
                    {{ form.surname.label }}<br>
                    {{ form.surname(class='form-control') }}<br>
                    {% for error in form.surname.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(class='form-control') }}<br>
                    {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.patronymic.label }}<br>
                    {{ form.patronymic(class='form-control') }}<br>
                    {% for error in form.patronymic.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(class='form-control') }}<br>
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(class='form-control') }}<br>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.role.label }}<br>
                    {{ form.role(class='form-control') }}<br>
                    {% for error in form.role.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.game_role.label }}<br>
                    {{ form.game_role(class='form-control') }}<br>
                    {% for error in form.game_role.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
            {% endif %}
        {% elif form.action.data == 'Удалить пользователя' %}
            <p>
                {{ form.user.label }}<br>
                {{ form.user(class='form-control') }}
            </p>
        {% endif %}
        {{ form.submit(type="submit", class="btn btn-info") }}
    </form>
    <!-- Подтверждение покупки -->
    {% if purchase %}
        <div class="modal fade show" id="purchase" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block; background-color: rgba(25, 25, 25, .5)">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Подтверждение покупки</h5>
                    </div>
                    <div class="modal-body">
                        <table  class="dairy-table table-hover table-info">
                            <tr style="background-color: #86CFDA">
                                <td style="text-align: center">Компания</td>
                                <td style="text-align: center">Акции</td>
                                <td style="text-align: center">Цена за акцию</td>
                                <td style="text-align: center">Стоимость</td>
                            </tr>
                            {% for row in cheque %}
                                <tr>
                                    <td style="text-align: center">{{ row[0] }}</td>
                                    <td style="text-align: center">{{ row[1] }}</td>
                                    <td style="text-align: center">{{ row[2] }}</td>
                                    <td style="text-align: center">{{ row[3] }}</td>
                                </tr>
                            {% endfor %}
                            <tr style="background-color: #86CFDA">
                                <td colspan="4" style="text-align: center">Итого: <b>{{ total }}</b></td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer" id="modal-ok-btn">
                        <form action="" method="post" id="purchase-form">
                            {{ purchase.accept(type="submit", class="btn btn-info", id="accept") }}
                            {{ purchase.decline(type="submit", class="btn btn-info", id="decline") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            setTimeout(function () {
                document.getElementById('decline').click()
                purchase.className = "modal fade"
                purchase.style = "display: none"
            }, 60 * 1000)
        </script>
    {% endif %}
    <!-- Всплывающее сообщение -->
    {% if message %}
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Сообщение от сайта</h5>
                        <button type="button" class="close" id="modal-close-btn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer" id="modal-ok-btn">
                        <button type="button" class="btn btn-info">ОК</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Скрипт для обновления страницы -->
    <script>
        action = document.getElementById('action')
        action.addEventListener("change", function () {
                ids = ['user', 'surname', 'name', 'patronymic', 'email', 'password', 'game_role']
                for (i = 0; i < ids.length; i++) {
                    element = document.getElementById(ids[i])
                    if (element)
                        element.value = null
                }
                document.getElementById('submit').click();
            })
        user_form = document.getElementById('user')
        if (user_form)
            user_form.addEventListener("change", function () {
                    document.getElementById('submit').click();
                })
    </script>
{% endblock %}