<!--suppress ALL -->
{% extends "edu/mobile/base.html" %}

{% block content %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <div style="text-align: center;color: white;margin-top: 20px;text-shadow: 1px 1px 1px #000;">
        <div style="font-size: 70px;">AREA</div>
        <div style="font-size: 30px">of young brokers</div>
    </div>
    <div style="background-color: rgba(0,0,0,.1);border: 3px solid white;width: 50%;display: block;border-radius: 10px; margin: 30px auto auto;">
        <p style="color:white; font-family: Montserrat, monospace; font-weight: 500; vertical-align: baseline; margin: 10px">
            AREA – Ваш помощник в планировании. Теперь
            организация учебного процесса перестанет быть рутиной.
            Удобный интерфейс и приятный дизайн - что еще нужно
            для комфортной учебы?
        </p>
    </div>
    <div style="background-color: rgba(0,0,0,.1);border: 3px solid white;width: 50%;display: block;border-radius: 10px; margin: 30px auto auto;">
        <p style="color:white; font-family: Montserrat, monospace; font-weight: 500; vertical-align: baseline; margin: 10px">
            Мы создаем систему, которая обеспечит
            комфортный и продуктивный процесс обучения
            как ученикам, так и учителям.
        </p>
    </div>
{% endblock %}